<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<br>
<h1> {{ session['username']  }}</h1>

{% for i in instagram %}
    <strong></strong><img src={{ i.image_url }} height="200px" width="200px"/><br>




<form action="../save" method = "POST" enctype="multipart/form-data">

 <strong>Title:</strong> <input type="radio" name= "edit_name" value= {{i.title}} checked> {{i.title}}<br>
    {% endfor %}
  Select the like value: <select name="ratings">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br>
   Comments: <textarea name="comments" cols="30" rows="2"></textarea><br>

    <input type="submit" name = "save" value = "Save Changes" />


</form>


</body>
</html>
